
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}


::-webkit-scrollbar
{
	width: 2px;

}

::-webkit-scrollbar-thumb 
{
	background: #5f4f46;
	border-radius: 100px;
}

body
{
    margin: 0;
    padding: 0;
    background: #79695f;
    display: flex;
    flex-direction: column;
}    


a 
{
    color: #d6d1cf;
    text-decoration: none;
    transition: 0.3s;
}

  
a:hover
{
    opacity: 0.7;
}


.logo 
{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
 

nav 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #5f4f46;
    height: 10vh;
}
 

.nav-list
{
    list-style: none;
    display: flex;
}
  
.nav-list li 
{
    letter-spacing: 3px;
    margin-left: 32px;
}

#pp
{
    border-radius: 50%;
    height: 3.5vw;
    width: 40px;
}

#btn_form
{
    border-radius: 50%;
    display: flex;
    align-items: center;
}

#btn_logout
{
    border: none;
    background-color: transparent;
}

#btn_logout img
{
    width: 65%;
    border-radius: 50%;
}

#btn_logout img:hover
{
    filter: brightness(80%);
}

.mobile-menu 
{
    display: none;
    cursor: pointer;
}


.mobile-menu div 
{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 999px) 
{
    body
    {
        overflow-x: hidden;
    }

    .nav-list 
    {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #5f4f46;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    .nav-list li
    {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu 
    {
        display: block;
    }

    #pp
    {
        border-radius: 50%;
        height: 15.5vw;
    }

    #btn_form
    {
        border-radius: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #btn_logout
    {
        border: none;
        background-color: transparent;
    }

    #btn_logout img
    {
        width: 100%;
        border-radius: 50%;
    }

    #btn_logout img:hover
    {
        filter: brightness(80%);
    }

}
  
.nav-list.active 
{
    transform: translateX(0);
    z-index: 1;
}


@keyframes navLinkFade 
{
    from 
    {
      opacity: 0;
      transform: translateX(50px);
      
    }

    to 
    {
      opacity: 1;
      transform: translateX(0);
    }
}


.mobile-menu.active .line1 
{
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 
{
    opacity: 0;
}
  
.mobile-menu.active .line3 
{
    transform: rotate(45deg) translate(-5px, -7px);
}


.search-box{
    background: #d6d1cf;
    margin-top:  0px;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}


.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.4s;
    width: 270px;
}

input::placeholder
{
    color:#5f4f46;
}

.search-btn{
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #dc7c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    transition: 0.4s;
}


.search-box:hover > .search-btn{
    background: white;
}


/* PARTE DE EDITAR O PERFIL*/

section
{
    height: 43vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit
{
	background: #5f4f46;
    padding: 30px;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 60%;
    border-radius: 0.5vw;
}

#edit1
{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
}
#edit1 img
{
    height: 80%;
    border: solid #d6d1cf;
    border-radius: 50%;
}

#edit1 input
{
    display: none;
}
#edit1 label
{
    color: #d6d1cf;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 0.5vw;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    padding: 10px 30px 10px 30px;
    border: solid;
}
#edit1 label:hover
{
    background-color: #d6d1cf;
    color: #5f4f46;
    font-weight: 600;
    transition: 0.4s;
    border: solid #d6d1cf;
    cursor: pointer;
}

#edit2
{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


#edit2 label
{
    color: #d6d1cf;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
}

.space input
{
    margin-left: 133px;
}

.in
{
    color: #d6d1cf;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #25211e;
    background-color: #d6d1cf;
    outline: none;
    border-radius: 0.5vw;
    padding: 5px;
    width: 64.2%;
}

.atsenha input
{
    color: #d6d1cf;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #d6d1cf;
    outline: none;
    color: #25211e;
    border-radius: .5vw;
    padding: 5px;
    width: 100%;
}

.atsenha input::placeholder
{
    color: #25211e;
}

#btnsalvar
{
    
    background-color: transparent;
    color: #d6d1cf;
    margin-top: 100px;
    margin-bottom: -15px;
    font-weight: 600;
    border-radius: 0.5vw;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    padding: 10px 30px 10px 30px;
    border: solid;
    font-size: 16px;
}

#btnsalvar:hover
{
    background-color: #d6d1cf;
    color: #5f4f46;
    font-weight: 600;
    transition: 0.4s;
    border: solid #d6d1cf;
    cursor: pointer;
}

.msg
{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    color: #ff8884;
    margin-bottom: -2.5vw;
}